<div class="space-y-5">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold text-gray-900">User Management</h2>

      <p class="text-xs text-gray-500">Manage platform access and roles.</p>
    </div>

    <div class="flex items-center gap-2">
      <app-search-bar (searchValue)="loadBooks($event)" />

      <app-button typeButton="button" (onSubmit)="openCreate()" label="+ Create user" />
    </div>
  </div>

  <app-table
    [data]="books()"
    [columns]="[
      'id',
      'title',
      'description',
      'publishedYear',
      'pages',
      'author.firstName',
      'category.name',
    ]"
    [actions]="actions"
    (actionClick)="onAction($event)"
    (pageChange)="loadBooks($event)"
  />

  @if (modalMode()) {
    <app-modal
      [title]="modalHeader().title"
      [description]="modalHeader().description"
      (onCancel)="closeModal()"
    >
      @if (modalMode() === 'create' || modalMode() === 'edit') {
        <app-book-form
          [isLoading]="isLoading()"
          [isEdit]="modalMode() === 'edit'"
          [book]="selectedBook()"
          [authors]="authors()"
          [categories]="categories()"
          (submitted)="saveBook($event)"
          (cancelled)="closeModal()"
        />
      }

      <!-- falta realizar el detalle del libro -->
      <!-- @if (modalMode() === 'detail') {
        <app-user-detail [user]="selectedUser()!" />
    } -->
    </app-modal>
  }
</div>
