<div class="space-y-5">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold text-gray-900">User Management</h2>

      <p class="text-xs text-gray-500">Manage platform access and roles.</p>
    </div>

    <div class="flex items-center gap-2">
      <app-search-bar (searchValue)="loadUsers($event)" />

      <app-button typeButton="button" (onSubmit)="openCreate()" label="+ Create user" />
    </div>
  </div>

  <app-table
    [data]="users()"
    [columns]="['id', 'firstName', 'lastName', 'email', 'phone', 'role', 'status']"
    [actions]="actions"
    (actionClick)="onAction($event)"
    (pageChange)="loadUsers($event)"
  />

  @if (modalMode()) {
    <app-modal
      [title]="modalHeader().title"
      [description]="modalHeader().description"
      (onCancel)="closeModal()"
    >
      @if (modalMode() === 'create' || modalMode() === 'edit') {
        <app-user-form
          [isLoading]="isLoading()"
          [isEdit]="modalMode() === 'edit'"
          [user]="selectedUser()"
          (submitted)="saveUser($event)"
          (cancelled)="closeModal()"
        />
      }

      @if (modalMode() === 'detail') {
        <app-user-detail [user]="selectedUser()!" />
      }
    </app-modal>
  }
</div>
