<div class="min-h-screen p-8">
  <div class="flex justify-between items-center mb-8">
    <div class="relative w-fit">
      <h1 class="font-bold text-4xl mb-2">Bestsellers</h1>
      <div class="absolute bottom-0 left-0 w-1/2 border-b-4 border-[#0f172a]"></div>
    </div>
    <h2
      class="font-semibold text-sm flex gap-2 items-center cursor-pointer hover:opacity-70 transition"
    >
      View All
      <ng-icon name="heroChevronRightSolid" class="text-xl shrink-0"></ng-icon>
    </h2>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    @for (book of bestsellers; track book.id) {
      <div class="flex flex-col gap-3 cursor-pointer group">
        <!-- Portada -->
        <div class="relative w-full aspect-3/4 rounded-xl overflow-hidden">
          <img
            [src]="book.cover"
            [alt]="book.title"
            class="w-full h-full object-cover group-hover:scale-105 transition duration-300"
          />
        </div>

        <div class="flex flex-col gap-1">
          <p class="font-bold text-[#0f172a] text-sm leading-tight line-clamp-2">
            {{ book.title }}
          </p>
          <p class="text-xs text-blue-500 font-medium">
            {{ book.author }}
          </p>
          <p class="text-sm font-bold text-[#0f172a] mt-1">${{ book.price }}</p>
        </div>
      </div>
    }
  </div>
</div>
