<footer>
  <div class="max-w-7xl py-2 flex gap-32 items-center justify-center">
    <div class="flex flex-col gap-2">
      <h2 class="font-bold text-lg text-[#0f172a]">Lumina Lexis</h2>
      <p class="text-xs text-gray-400">
        © 2024 Lumina Lexis. A selection of the world’s best ideas.
      </p>
    </div>

    <div class="flex gap-6 text-gray-500 text-sm">
      <label for="" class="cursor-pointer">Privacy Policy</label>
      <label for="" class="cursor-pointer">Terms of Service </label>
      <label for="" class="cursor-pointer">Shipping & Returns</label>

      <label for="" class="cursor-pointer">Contact</label>
    </div>
  </div>
</footer>
