<div class="space-y-5">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold text-gray-900">Category Management</h2>

      <p class="text-xs text-gray-500">Manage categories for all books.</p>
    </div>

    <app-button typeButton="button" (onSubmit)="openModal()" label="+ Create category" />
  </div>

  <app-table
    [data]="categories()"
    [columns]="['id', 'name', 'description', 'status']"
    [actions]="actions"
    (actionClick)="onAction($event)"
  ></app-table>

  @if (isModalOpen()) {
    <app-modal
      (onCancel)="isModalOpen.set(false)"
      [title]="selectedCategory ? 'Edit category' : 'New category'"
      [description]="
        selectedCategory
          ? 'Update the category information.'
          : 'Please fill in the details to create a new category.'
      "
    >
      <app-form-container
        [isLoading]="isLoading()"
        [formGroup]="categoriesform"
        (onCancel)="isModalOpen.set(false)"
        (onSubmit)="saveCategory()"
      >
        @let name = categoriesform.get('name');

        <div class="flex flex-col gap-1">
          <label for="name" class="text-xs font-semibold text-gray-800"> Name </label>

          <div
            class="flex w-full items-center gap-2 rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 transition-colors focus-within:border-[#0e3521] sm:py-2.5"
            [class.border-red-500]="name?.invalid && (name?.touched || isSubmitted())"
          >
            <input
              id="name"
              type="text"
              formControlName="name"
              class="w-full bg-transparent text-xs text-gray-800 outline-none sm:text-sm"
              placeholder="e.g., Historical Fiction"
            />
          </div>

          <div class="flex h-3 items-center px-1">
            @if (name?.invalid && (name?.touched || isSubmitted())) {
              <span class="text-[11px] text-red-500">
                @if (name?.errors?.['required']) {
                  The name is required
                }

                @if (name?.errors?.['minlength']) {
                  Minimum 3 characters
                }

                @if (name?.errors?.['maxlength']) {
                  Maximum 50 characters
                }
              </span>
            }
          </div>
        </div>

        @let description = categoriesform.get('description');
        <div class="flex flex-col gap-1">
          <label for="description" class="text-xs font-semibold text-gray-800"> Description</label>

          <div
            class="flex w-full items-center gap-2 rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 transition-colors focus-within:border-[#0e3521] sm:py-2.5"
            [class.border-red-500]="description?.invalid && (description?.touched || isSubmitted())"
          >
            <input
              id="description"
              type="text"
              formControlName="description"
              class="w-full bg-transparent text-xs text-gray-800 outline-none sm:text-sm"
              placeholder="e.g., Fiction works set in historical periods..."
            />
          </div>

          <div class="flex h-3 items-center px-1">
            @if (description?.invalid && (description?.touched || isSubmitted())) {
              <span class="text-[11px] text-red-500">
                @if (categoriesform.get('description')?.errors?.['required']) {
                  The description is required
                }

                @if (description?.errors?.['minlength']) {
                  Minimum 10 characters
                }

                @if (description?.errors?.['maxlength']) {
                  Maximum 50 characters
                }
              </span>
            }
          </div>
        </div>
      </app-form-container>
    </app-modal>
  }
</div>
