<div class="space-y-5">
  <!-- Header -->
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold text-gray-900">Gestión de Books</h2>

      <p class="text-xs text-gray-500">Administra los libros de la plataforma.</p>
    </div>

    <button
      type="button"
      (click)="openModal()"
      class="rounded-xl bg-[#0e3521] px-4 py-2 text-sm font-semibold text-white transition hover:bg-emerald-900"
    >
      + Create Author
    </button>
  </div>

  <!-- Table -->
  <app-table
    [data]="authors()"
    [columns]="[
      'id',
      'firstName',
      'lastName',
      'biography',
      'birthdate',
      'deathdate',
      'countryOfBirth',
      'isActive',
    ]"
    [actions]="actions"
    (actionClick)="onAction($event)"
  ></app-table>

  <!-- Modal -->
  @if (isModalOpen()) {
    <div
      class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 px-4 backdrop-blur-sm"
    >
      <div class="max-h-[90vh] w-full max-w-lg overflow-y-auto rounded-2xl bg-white p-6 shadow-xl">
        <!-- Modal Header -->
        <div class="flex items-start justify-between">
          <div>
            <h3 class="text-lg font-bold text-gray-900">
              {{ selectedAuthor ? 'Edit Author' : 'New Author' }}
            </h3>

            <p class="mt-1 text-xs text-gray-500">
              {{
                selectedAuthor
                  ? 'Update the author’s details.'
                  : 'Fill in the information to create a new book.'
              }}
            </p>
          </div>

          <button
            type="button"
            (click)="closeModal()"
            aria-label="Cerrar modal"
            class="flex h-8 w-8 items-center justify-center rounded-lg text-gray-400 transition hover:bg-gray-100 hover:text-gray-700"
          >
            <ng-icon name="heroXMark" class="text-lg"></ng-icon>
          </button>
        </div>

        <!-- Form -->
        <form [formGroup]="authorsForm" (ngSubmit)="saveAuthor()" class="mt-5 space-y-4">
          <!-- firstName -->
          @let firstName = authorsForm.controls.firstName;

          <div class="flex flex-col gap-1">
            <label for="firstName" class="text-xs font-semibold text-gray-800"> First Name </label>

            <div
              class="flex w-full items-center gap-2 rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 transition-colors focus-within:border-[#0e3521] sm:py-2.5"
              [class.border-red-500]="firstName?.invalid && (firstName?.touched || isSubmitted())"
            >
              <input
                id="firstName"
                type="text"
                formControlName="firstName"
                class="w-full bg-transparent text-xs text-gray-800 outline-none sm:text-sm"
                placeholder="John"
              />
            </div>

            <div class="flex min-h-3 items-center px-1">
              @if (firstName.invalid && (firstName.touched || isSubmitted())) {
                <span class="text-[11px] text-red-500">
                  @if (firstName.errors?.['required']) {
                    El título es obligatorio.
                  } @else if (firstName.errors?.['minlength']) {
                    Mínimo 3 caracteres.
                  } @else if (firstName.errors?.['maxlength']) {
                    Máximo 50 caracteres.
                  }
                </span>
              }
            </div>
          </div>

          <!-- lastName -->
          @let lastName = authorsForm.controls.lastName;

          <div class="flex flex-col gap-1">
            <label for="lastName" class="text-xs font-semibold text-gray-800"> Last Name </label>

            <div
              class="w-full rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 transition-colors focus-within:border-[#0e3521]"
              [class.border-red-500]="lastName.invalid && (lastName.touched || isSubmitted())"
            >
              <input
                id="lastName"
                type="text"
                formControlName="lastName"
                class="w-full bg-transparent text-xs text-gray-800 outline-none sm:text-sm"
                placeholder="Doe"
              />
            </div>

            <div class="flex h-3 items-center px-1">
              @if (lastName?.invalid && (lastName?.touched || isSubmitted())) {
                <span class="text-[11px] text-red-500">
                  @if (lastName?.errors?.['required']) {
                    El apellido es obligatorio.
                  }

                  @if (lastName?.errors?.['minlength']) {
                    Mínimo 3 caracteres.
                  }

                  @if (lastName?.errors?.['maxlength']) {
                    Máximo 50 caracteres.
                  }
                </span>
              }
            </div>
          </div>

          @let biography = authorsForm.controls.biography;

          <div class="flex flex-col gap-1">
            <label for="biography" class="text-xs font-semibold text-gray-800"> Biography </label>

            <div
              class="w-full rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 transition-colors focus-within:border-[#0e3521]"
              [class.border-red-500]="biography?.invalid && (biography?.touched || isSubmitted())"
            >
              <textarea
                id="biography"
                formControlName="biography"
                class="w-full bg-transparent text-xs text-gray-800 outline-none sm:text-sm resize-none"
                placeholder="e.g., Fiction works set in historical periods..."
                rows="3"
              ></textarea>
            </div>

            <div class="flex h-3 items-center px-1">
              @if (biography?.invalid && (biography?.touched || isSubmitted())) {
                <span class="text-[11px] text-red-500">
                  @if (biography?.errors?.['required']) {
                    El apellido es obligatorio.
                  }

                  @if (biography?.errors?.['minlength']) {
                    Mínimo 3 caracteres.
                  }

                  @if (biography?.errors?.['maxlength']) {
                    Máximo 50 caracteres.
                  }
                </span>
              }
            </div>
          </div>

          <!-- ACTIONS -->
          <div class="flex justify-end gap-3 pt-4">
            <button
              type="button"
              (click)="closeModal()"
              class="rounded-xl px-4 py-2 text-sm font-semibold text-gray-500 transition hover:bg-gray-100"
            >
              Cancelar
            </button>

            <button
              type="submit"
              [disabled]="isLoading()"
              class="rounded-xl bg-[#0e3521] px-5 py-2 text-sm font-semibold text-white transition hover:bg-emerald-900 disabled:cursor-not-allowed disabled:opacity-50"
            >
              {{ isLoading() ? 'Guardando...' : 'Guardar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  }
</div>
