<div class="w-full rounded-2xl bg-white shadow-sm overflow-hidden border border-gray-200">
  <div class="w-full overflow-x-auto" (scroll)="closeMenu()">
    <table
      class="w-full min-w-full text-left text-sm text-gray-600 border-collapse border-b border-gray-200"
    >
      <thead
        class="border-b border-gray-200 bg-gray-50 text-xs font-semibold uppercase text-gray-500"
      >
        <tr>
          @for (col of columns(); track col) {
            <th class="px-6 py-4">{{ formatHeader(col) }}</th>
          }

          <th class="px-6 py-4 text-right">Actions</th>
        </tr>
      </thead>

      <ng-containter [ngTemplateOutlet]="bodyTemplate()!"></ng-containter>
    </table>
  </div>
  @if (paginationTemplate()) {
    <ng-container [ngTemplateOutlet]="paginationTemplate()!"></ng-container>
  }
</div>
